<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h1>Hey Brogrammer 😎</h1>
    <hr>
    <form action="/create-user" method="post">
        <input style="height: 30px; width: 400px; border-radius: 5px; padding: 2px;" type="text" name="username" id="" placeholder="Enter username..">
        <button style="height: 35px; width: 80px; border-radius: 20px; background-color: darkcyan; color: white; cursor: pointer;" type="submit">Submit</button>
    </form>
</body>
</html>